@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.d-grid {
  text-decoration: none;
}

.modeFade {
  animation: fadeIn 2s;
}

.txtJasper {
  font-family: 'Modern Antiqua', cursive;
  user-select: none;
}

.txtRed {
  color: #9A182B;
}

.bgRed {
  background-color: #9A182B;
  color: whitesmoke;
}

.centered {
  justify-content: center;
  align-items: center;
}

#offcanvasNav {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.input-group-text {
  background-color: #9A182B;
  color: whitesmoke;
  user-select: none;
}

.form-control:focus {
  color: #9A182B
}

.list-group-item {
  border: 0;
  justify-content: space-around;
  user-select: none;
}

.form-control-lg {
  text-align: center;
}

.accordion-item {
  border: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(140, 140, 140);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #F7F7F7;
}

.myCard-header {
  background-color: #9A182B;
  border-top-left-radius: 19.5px;
  border-top-right-radius: 19.5px;
  padding-top: 10px;
  padding-left: 10px;
  color: #F7F7F7;
}

.myCard-footer {
  background-color: #9A182B;
  border-bottom-left-radius: 19.5px;
  border-bottom-right-radius: 19.5px;
  padding-top: 10px;
  padding-left: 10px;
  color: #F7F7F7;
}

.cartBadge {
  position: relative;
  bottom: 20px;
  right: 12%;
}

@keyframes logoJ {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoD {
  0% {
    opacity: 0;
  }
  22% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logoX {
  0% {
    opacity: 0;
  }
  44% {
    opacity: 0;
  }
  77% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.loadJ {
  animation: logoJ 5s;
}

.loadD {
  animation: logoD 5s;
}

.loadX {
  animation: logoX 5s;
}

.myBtn {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

#menu {
  overflow: auto;
  border-top-left-radius: 15px;
}

.myLinkGroup {
  border: 3px solid #9A182B;
  border-radius: 8px;
}