@keyframes fadeIn {
  0% { opacity: 0;}
  20% { opacity: 0;}
  100% { opacity: 1;}
}

.modeFade {
  animation: fadeIn 2s ;
}

.txtJasper {
  font-family: 'Modern Antiqua', cursive;
}

.txtRed {
  color: #9A182B;
}

.bgRed {
 background-color: #9A182B;
}

.centerFlex {
  justify-content: center;
  align-items: center;
}

#offcanvasNav {
  background-color: rgba(0,0,0,0);
  border: 0;
}