@keyframes fadeIn {
  0% { opacity: 0;}
  20% { opacity: 0;}
  100% { opacity: 1;}
}

.modeFade {
  animation: fadeIn 2s ;
}

.txtJasper {
  font-family: 'Modern Antiqua', cursive;
  user-select: none;
}

.txtRed {
  color: #9A182B;
}

.bgRed {
 background-color: #9A182B;
 color: whitesmoke;
}

.centerFlex {
  justify-content: center;
  align-items: center;
}

#offcanvasNav {
  background-color: rgba(0,0,0,0);
  border: 0;
}

.input-group-text {
  background-color: #9A182B;
  color: whitesmoke;
  user-select: none;
}

.form-control:focus {
  color: #9A182B
}

.list-group-item{
  border: 0;
  justify-content: space-around;
  user-select: none;
}
.form-control-lg {
  text-align: center;
}

.accordion-item {
  border: 0;
}